body {
    text-align: center;
    background-color: lightblue;
    /* box-sizing: border-box; */
}

.sketchPad {
    box-sizing: border-box;
    height: 502px;
    width: 502px;
    background-color: white;
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.gridBox {
    box-sizing: border-box;
    background-color: white;
    border:1px solid gray;
}

.clear {
    margin-top: 20px;
}